doctype html
html(lang="en")
head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
body 
    div.container 
            table(style='background-color:#fff; width:100%; padding: 15px;margin: 20px auto;').card
                tr(align='center' style='margin: 10px 15px; text-align: center; vertical-align: middle;')
                    th(style="text-align: center; padding-bottom: 15px; font-size: 16px;")
                        p Name
                    th(style="text-align: center; padding-bottom: 15px; font-size: 12px;") 
                        p Origin
                    th(style="text-align: center; padding-bottom: 15px; font-size: 12px;") 
                        p Star Ingredients
                each p_culinary_discoverie in p_culinary_discoveries
                    tr(style='text-align: center; margin: 10px 15px;')
                        td(style="padding-bottom: 10px;") #{p_culinary_discoverie.properties.name}
                        td(style="padding-bottom: 10px;") #{p_culinary_discoverie.properties.origin}
                        td(style="padding-bottom: 10px;") #{p_culinary_discoverie.properties.star_ingredients}